In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf

In [2]:
# get sp500 data 
sp500 = yf.download('^GSPC', start='2000-01-06')
sp500

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
2000-01-10,1441.469971,1464.359985,1441.469971,1457.599976,1457.599976,1064800000
2000-01-11,1457.599976,1458.660034,1434.420044,1438.560059,1438.560059,1014000000
2000-01-12,1438.560059,1442.599976,1427.079956,1432.250000,1432.250000,974600000
...,...,...,...,...,...,...
2024-05-08,5168.979980,5191.950195,5165.859863,5187.669922,5187.669922,3842100000
2024-05-09,5189.029785,5215.299805,5180.410156,5214.080078,5214.080078,3727370000
2024-05-10,5225.490234,5239.660156,5209.680176,5222.680176,5222.680176,3617900000
2024-05-13,5233.080078,5237.259766,5211.160156,5221.419922,5221.419922,4255710000
2024-05-14,5221.100098,5250.370117,5217.979980,5246.680176,5246.680176,1984200000

In [3]:
df = pd.read_csv("sentiment.csv")
df

,Date,Bullish,Neutral,Bearish,Total,Mov Avg,Spread,Average,+St. Dev.,- St. Dev.,High,Low,Close
0,2000-01-06,0.750000,0.116600,0.133300,0.999900,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
1,2000-01-13,0.592600,0.222200,0.185200,1.000000,0.599075,0.407400,0.376108,0.477314,0.274901,1473.00,1427.08,1465.15
2,2000-01-20,0.571400,0.250000,0.178600,1.000000,0.601750,0.392800,0.376108,0.477314,0.274901,1465.71,1438.54,1441.36
3,2000-01-27,0.537000,0.259300,0.203700,1.000000,0.591375,0.333300,0.376108,0.477314,0.274901,1454.09,1356.20,1360.16
4,2000-02-03,0.511100,0.244400,0.244400,0.999900,0.577763,0.266700,0.376108,0.477314,0.274901,1435.91,1350.14,1424.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263,2024-04-04,0.472868,0.304910,0.222222,1.000000,0.463833,0.250646,0.376108,0.477314,0.274901,5264.85,5184.05,5211.49
1264,2024-04-11,0.434426,0.325137,0.240437,1.000000,0.465422,0.193989,0.376108,0.477314,0.274901,5222.18,5188.70,5160.64
1265,2024-04-18,0.382749,0.277628,0.339623,1.000000,0.457919,0.043126,0.376108,0.477314,0.274901,5175.03,5007.25,5022.21
1266,2024-04-25,0.321337,0.339332,0.339332,1.000001,0.439965,-0.017995,0.376108,0.477314,0.274901,5089.48,4953.56,5071.63
1267,2024-05-02,0.384858,0.290221,0.324921,1.000000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39

In [4]:
# for all columns in df (except date) rename the column to the column name + _sentiment
for col in df.columns[1:]:
    df.rename(columns={col: col + "_sentiment"}, inplace=True)

In [5]:
# convert the date column to datetime for df and sp500
df['Date'] = pd.to_datetime(df['Date'])
sp500['Date'] = pd.to_datetime(sp500.index)
# rename the index to ind
sp500.index.name = 'ind'

In [6]:
df

,Date,Bullish_sentiment,Neutral_sentiment,Bearish_sentiment,Total_sentiment,Mov Avg_sentiment,Spread_sentiment,Average_sentiment,+St. Dev._sentiment,- St. Dev._sentiment,High_sentiment,Low_sentiment,Close_sentiment
0,2000-01-06,0.750000,0.116600,0.133300,0.999900,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
1,2000-01-13,0.592600,0.222200,0.185200,1.000000,0.599075,0.407400,0.376108,0.477314,0.274901,1473.00,1427.08,1465.15
2,2000-01-20,0.571400,0.250000,0.178600,1.000000,0.601750,0.392800,0.376108,0.477314,0.274901,1465.71,1438.54,1441.36
3,2000-01-27,0.537000,0.259300,0.203700,1.000000,0.591375,0.333300,0.376108,0.477314,0.274901,1454.09,1356.20,1360.16
4,2000-02-03,0.511100,0.244400,0.244400,0.999900,0.577763,0.266700,0.376108,0.477314,0.274901,1435.91,1350.14,1424.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263,2024-04-04,0.472868,0.304910,0.222222,1.000000,0.463833,0.250646,0.376108,0.477314,0.274901,5264.85,5184.05,5211.49
1264,2024-04-11,0.434426,0.325137,0.240437,1.000000,0.465422,0.193989,0.376108,0.477314,0.274901,5222.18,5188.70,5160.64
1265,2024-04-18,0.382749,0.277628,0.339623,1.000000,0.457919,0.043126,0.376108,0.477314,0.274901,5175.03,5007.25,5022.21
1266,2024-04-25,0.321337,0.339332,0.339332,1.000001,0.439965,-0.017995,0.376108,0.477314,0.274901,5089.48,4953.56,5071.63
1267,2024-05-02,0.384858,0.290221,0.324921,1.000000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39

In [7]:
sp500

,Open,High,Low,Close,Adj Close,Volume,Date
ind,,,,,,,
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000,2000-01-06
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000,2000-01-07
2000-01-10,1441.469971,1464.359985,1441.469971,1457.599976,1457.599976,1064800000,2000-01-10
2000-01-11,1457.599976,1458.660034,1434.420044,1438.560059,1438.560059,1014000000,2000-01-11
2000-01-12,1438.560059,1442.599976,1427.079956,1432.250000,1432.250000,974600000,2000-01-12
...,...,...,...,...,...,...,...
2024-05-08,5168.979980,5191.950195,5165.859863,5187.669922,5187.669922,3842100000,2024-05-08
2024-05-09,5189.029785,5215.299805,5180.410156,5214.080078,5214.080078,3727370000,2024-05-09
2024-05-10,5225.490234,5239.660156,5209.680176,5222.680176,5222.680176,3617900000,2024-05-10
2024-05-13,5233.080078,5237.259766,5211.160156,5221.419922,5221.419922,4255710000,2024-05-13
2024-05-14,5221.100098,5250.370117,5217.979980,5246.680176,5246.680176,1984200000,2024-05-14

In [8]:
# merge both dataframes on the date column, sp500 has way more rows, so merge on that. then forward fill the sentiment columns
merged = pd.merge_asof(sp500, df, on='Date')
merged

,Open,High,Low,Close,Adj Close,Volume,Date,Bullish_sentiment,Neutral_sentiment,Bearish_sentiment,Total_sentiment,Mov Avg_sentiment,Spread_sentiment,Average_sentiment,+St. Dev._sentiment,- St. Dev._sentiment,High_sentiment,Low_sentiment,Close_sentiment
0,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000,2000-01-06,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
1,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000,2000-01-07,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
2,1441.469971,1464.359985,1441.469971,1457.599976,1457.599976,1064800000,2000-01-10,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
3,1457.599976,1458.660034,1434.420044,1438.560059,1438.560059,1014000000,2000-01-11,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
4,1438.560059,1442.599976,1427.079956,1432.250000,1432.250000,974600000,2000-01-12,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6122,5168.979980,5191.950195,5165.859863,5187.669922,5187.669922,3842100000,2024-05-08,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6123,5189.029785,5215.299805,5180.410156,5214.080078,5214.080078,3727370000,2024-05-09,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6124,5225.490234,5239.660156,5209.680176,5222.680176,5222.680176,3617900000,2024-05-10,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6125,5233.080078,5237.259766,5211.160156,5221.419922,5221.419922,4255710000,2024-05-13,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6126,5221.100098,5250.370117,5217.979980,5246.680176,5246.680176,1984200000,2024-05-14,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39

In [9]:
# make date the first column
a = merged.pop('Date')
merged.insert(0, 'Date', a)
merged

,Date,Open,High,Low,Close,Adj Close,Volume,Bullish_sentiment,Neutral_sentiment,Bearish_sentiment,Total_sentiment,Mov Avg_sentiment,Spread_sentiment,Average_sentiment,+St. Dev._sentiment,- St. Dev._sentiment,High_sentiment,Low_sentiment,Close_sentiment
0,2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
1,2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
2,2000-01-10,1441.469971,1464.359985,1441.469971,1457.599976,1457.599976,1064800000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
3,2000-01-11,1457.599976,1458.660034,1434.420044,1438.560059,1438.560059,1014000000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
4,2000-01-12,1438.560059,1442.599976,1427.079956,1432.250000,1432.250000,974600000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6122,2024-05-08,5168.979980,5191.950195,5165.859863,5187.669922,5187.669922,3842100000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6123,2024-05-09,5189.029785,5215.299805,5180.410156,5214.080078,5214.080078,3727370000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6124,2024-05-10,5225.490234,5239.660156,5209.680176,5222.680176,5222.680176,3617900000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6125,2024-05-13,5233.080078,5237.259766,5211.160156,5221.419922,5221.419922,4255710000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
6126,2024-05-14,5221.100098,5250.370117,5217.979980,5246.680176,5246.680176,1984200000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39

In [11]:
# save the merged dataframe to a csv file
#merged.to_csv('fulldata2.csv', index=False)

In [12]:
# make Date the index 
merged.set_index('Date', inplace=True)
merged

,Open,High,Low,Close,Adj Close,Volume,Bullish_sentiment,Neutral_sentiment,Bearish_sentiment,Total_sentiment,Mov Avg_sentiment,Spread_sentiment,Average_sentiment,+St. Dev._sentiment,- St. Dev._sentiment,High_sentiment,Low_sentiment,Close_sentiment
Date,,,,,,,,,,,,,,,,,,
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
2000-01-10,1441.469971,1464.359985,1441.469971,1457.599976,1457.599976,1064800000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
2000-01-11,1457.599976,1458.660034,1434.420044,1438.560059,1438.560059,1014000000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
2000-01-12,1438.560059,1442.599976,1427.079956,1432.250000,1432.250000,974600000,0.750000,0.116600,0.133300,0.9999,0.582500,0.616700,0.376108,0.477314,0.274901,1478.00,1377.68,1441.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-08,5168.979980,5191.950195,5165.859863,5187.669922,5187.669922,3842100000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
2024-05-09,5189.029785,5215.299805,5180.410156,5214.080078,5214.080078,3727370000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
2024-05-10,5225.490234,5239.660156,5209.680176,5222.680176,5222.680176,3617900000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
2024-05-13,5233.080078,5237.259766,5211.160156,5221.419922,5221.419922,4255710000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39
2024-05-14,5221.100098,5250.370117,5217.979980,5246.680176,5246.680176,1984200000,0.384858,0.290221,0.324921,1.0000,0.423404,0.059937,0.376108,0.477314,0.274901,5123.49,4990.58,5018.39

In [18]:
# save 
#merged.to_csv('fulldata2_dateindex.csv', index=True)